<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TicketManagementTestDatabase;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"/>
  </connectionStrings>
  <appSettings>
    <add key="dacpacFilePath" value="\..\..\EPAM.TicketManagement.TestDatabase.dacpac"/>
  </appSettings>
</configuration>